
ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
  }
  
  img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    border-radius: 50%;
  }
  
  strong {
    display: block;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    position: relative;
    min-height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  nav {
    position: fixed;
    bottom: 10px;
    left: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: transparent;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px; /* Adjust as needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

p {
  font-size: 18px;
  margin-bottom: 20px; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;


  &.glow-on-hover {
    transition: 0.3s ease;
  }

  &:hover {
    background-color: #2573af;
  }
}

.appname{
  text-align: center;
}